//Reset
* {
	box-sizing: border-box;
	image-rendering: pixelated;
	& ul {
		padding: 0;
		margin: 0;
	}
	& li {
		list-style: none;
	}
}

input,
select,
.select-content {
    font-size: 14px;
    position: relative;
	transition: 0.25s ease;
	font-family: "Baby Doll", sans-serif;
	border-width: 2px;
    border-style: outset;
	padding: 8px;
    border-color: grey;
	border-radius: 8px;
    background-color: $paper-white-accent;
    box-shadow: 3px 3px 0px rgba($color: #000000, $alpha: 0.3);
    &:focus {
        outline: none;
    }
    &:not([type="checkbox"]) {
        min-width: 200px;
        max-width: 300px;
    }
    &:not([type="checkbox"]):not(select) {
        &:focus {
            box-shadow: 3px 3px 0px rgba($color: #000000, $alpha: 0.0);
            transform: translate(2px, 2px);
        }
    }
    &:hover {
        cursor: pointer;
    }
    &.size-auto {
        width: auto;
        min-width: unset;
    }
}

input {
	&[type="checkbox"] {
		width: 20px;
		height: 20px;
        border-width: 2px;
        border-style: outset;
        &:checked {
            box-shadow: 3px 3px 0px rgba($color: #000000, $alpha: 0.0);
            transform: translate(2px, 2px);
        }
	}
}

button {
    font-family: "Baby Doll", sans-serif;
    transition: 0.25s ease;
    border-radius: 8px;
    background-color: $paper-white-accent;
    padding: 4px 8px;
    box-shadow: 3px 3px 0px rgba($color: #000000, $alpha: 0.2);
    outline: none;
    &:not(:disabled) {
        cursor: pointer;
        &:hover {
            box-shadow: 3px 3px 0px rgba($color: #000000, $alpha: 0.0);
            transform: translate(2px, 2px);
        }
    }
    &.warning {
        &:not(:disabled) {
            background-color: $red-a3;
            color: white;
        }
    }
    &:disabled {
        cursor: not-allowed;
        box-shadow: 3px 3px 0px rgba($color: #000000, $alpha: 0.0);
        transform: translate(2px, 2px);
        filter: grayscale(100);
    }
}

.icon {
    width: 25px;
    height: 25px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

//Scrollbar styling
::-webkit-scrollbar {
	width: 16px;
	height: 16px;
}
::-webkit-scrollbar-track {
	margin-bottom: 8px;
}
::-webkit-scrollbar-thumb {
	min-height: 40px;
	background-color: rgba($color: #fff, $alpha: 0.3);
	outline: 0px solid $text-dark;
	outline-offset: -6px;
	&:hover {
		outline: 0px solid $text-dark;
		outline-offset: -4px;
	}
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
	border: 4px solid transparent;
	background-clip: padding-box;
	border-radius: 10px;
}
::-webkit-scrollbar-track {
	background-color: $text-dark;
}
::-webkit-scrollbar-corner {
	background-color: transparent;
}

@import "list";