$dark-color: #313131;
$dark-background: #2b3037;
$darker-background: rgb(35,36,42);
$light-color: #FFF;

$main-darker: #1A1924;
$main-dark: #242331;
$main-dark-blue: #234958;
$main-blue: #42bfdd;
$main-pink: #FF66B3;
$main-red: #D81E5B;
$main-yellow: #FFF275;
$main-lighter-yellow: #FFFF82;
$main-green: #68D89B;
$main-lighter-green: #B4E588;

$text-dark: #362F2D;
$paper-white: #E7DFC9;
$paper-white-dark: #CCBEBB;
$paper-white-darker: #C7B29A;