$dark-color: #313131;
$dark-background: #2b3037;
$darker-background: rgb(35,36,42);
$light-color: #FFF;

$text-dark: #362F2D;
$paper-white: #E7DFC9;
$paper-white-accent: #E9DADF;
$paper-white-dark: #CCBEBB;
$paper-white-darker: #C7B29A;

$red-a1: #FF170F;
$red-a2: #C90600;
$red-a3: #9E0C0C;
$red-a4: #820303;
