@font-face {
  font-family: "Baby Doll";
  src: url("assets/fonts/babydoll.ttf") format("truetype");
}
@font-face {
  font-family: "Up Heaval";
  src: url("assets/fonts/upheavtt.ttf") format("truetype");
}
