@font-face {
  font-family: "BabyDollv2";
  src: url("assets/fonts/BabyDollv2.ttf") format("truetype");
}
@font-face {
  font-family: "Up Heaval";
  src: url("assets/fonts/upheavtt.ttf") format("truetype");
}
